@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Mynerve&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1 {
    font-family: Mynerve, sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 4px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 320%;
    margin-top: 10px;
    margin-left: 20px;
}



/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}




/* hero image and cover text */


#hero-outer {
    height: 600px;
    width: 100%;
    /* overflow: hidden; */
    clear: both;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/yoga-hero.jpg') no-repeat center center;
}

#cover-text {
    font-family: 'Roboto';
    text-transform: uppercase; 
    letter-spacing: 1px;
    color: white;
    position: absolute;
    width: 500px;
    height: 280px;
    left: 25px;
    top: 200px;
    margin-left: 20%;
    text-align: right;
    
}

#cover-text h2 {
    font-size: 300%;
}

#cover-text h4 {
    font-size: 150%;
    
}

/* school about section */

#about-school {
    margin-top: 100px;

}

#about-school h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 400%;
    text-transform: uppercase; 
    text-align: center;
    letter-spacing: 1px;
    color: #3a3a3a;
    margin-left: 20px;
    margin-bottom: 40px;
}

#about-school h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    font-weight: 300;
    text-transform: uppercase; 
    text-align: left;
    letter-spacing: 1px;
    color: #3a3a3a;
    margin-left: 20px;
}

#about-school p {
    margin: 30px 20px 5px;
    font-family: Lato;
    font-style: italic;
    text-align: justify;
    clear: both;
}

#left-about {
    float: left;
    height: 200px;
    width: 33%;
    margin: 60px auto;
}

#left-about-heading {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#right-about {
    float: right;
    height: 200px;
    width: 33%;
    margin: 60px auto;
}

#right-about-heading {
    width: 100%;
    float: center;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#right-about a {
    font-family: 'Roboto', sans-serif;
    color: #3a3a3a;

}
#center-about {
    float: left;
    height: 200px;
    width: 33%;
    margin: 60px auto;
}

#center-about-heading {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    /* border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%; */
    margin: 0 auto;
}

#left-picture-about {
    background: url('../images/1666311259-small.jpg') no-repeat center center;
    height: 300px;
    width: 33%;
    clear: both;
    float: left;
    /* border-radius: 50%; */
}

#center-picture-about {
    background: url('../images/shutterstock_1591188538.jpg') no-repeat center center;
    height: 300px;
    width: 33%;
    float: left;
    /* border-radius: 50%; */
}


#right-picture-about {
    background: url('../images/shutterstock_1820434592.jpg') no-repeat center center;
    height: 300px;
    width: 33%;
    float: right;
    /* border-radius: 50%; */
}

/* Newsletter */

#newsletter {
    height: 150px;
    width: 100%;
    background-color: #3a3a3a;
    clear: both;
}

#newsletter-form label {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
    width: 100%;
    line-height: 50px;
    clear: both;
  
}


.form-section {
    clear: left;
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
  border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#f16c6b;
    color: #fafafa;
    display: block;
    
}

.join-button:hover {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#fafafa;
    color: #f16c6b;
    display: block;
    
}


/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 500px) {

}