/* Google font  */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Mynerve&family=Roboto:wght@300;500&display=swap');

* {
    margin: 0 0 0 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1 {
    font-family: Mynerve, sans-serif;
    letter-spacing: 4px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 320%;
    margin-top: 10px;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    width: 100%;
    clear: both;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/yoga-hero.jpg') no-repeat center center;
    background-size: cover;
}

#cover-text {
    text-transform: uppercase; 
    letter-spacing: 1px;
    color: white;
    position: absolute;
    width: 70%;
    height:auto;
    left: 25px;
    top: 200px;
    margin-left: 15%;
    text-align: left;    
}

#cover-text h2 {
    font-size: 300%;
    font-weight: 500;
}

#cover-text h4 {
    font-size: 150%;
    font-weight: 500;
}

/* school about section */

#about-school {
    margin: 2% 4% 4% 4%;
}

#about-school h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 400%;
    font-weight: 400;
    text-transform: uppercase; 
    text-align: center;
    letter-spacing: 1px;
    color: #3a3a3a;
    margin-bottom: 40px;
}

#about-school p {
    margin: 10px 10px 10px 10px;
    font-family: Lato;
    font-style: italic;
    text-align: justify;
    clear: both;
}

#left-about {
    float: left;
    width: 33%;
    margin: 30px auto;
}

#left-about-heading {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-size: 230%;
    font-weight: 300;
    text-transform: uppercase; 
    text-align: left;
    letter-spacing: 1px;
    color: #3a3a3a;
    margin: 20px 0 50px 0;
} 

#right-about {
    float: right;
    width: 33%;
    margin: 30px auto;
}

#right-about-heading {
    width: 100%;
    float: right;
    line-height: 20px;
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-size: 230%;
    font-weight: 300;
    text-transform: uppercase; 
    text-align: left;
    letter-spacing: 1px;
    color: #3a3a3a;
    margin: 20px 0 50px 0;
}

#right-about a {
    font-family: 'Roboto', sans-serif;
    color: #3a3a3a;
}

#center-about {
    float: left;
    width: 33%;
    margin: 30px auto;
}

#center-about-heading {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-size: 230%;
    font-weight: 300;
    text-transform: uppercase; 
    text-align: left;
    letter-spacing: 1px;
    color: #3a3a3a;
    margin: 20px 0 50px 0;
    padding-left: 10px;
}

#left-picture-about {
    background: url('../images/online-yoga-img1.jpg') no-repeat center center;
    height: 300px;
    width: 33%;
    clear: both;
    float: left;
}

#center-picture-about {
    background: url('../images/online-yoga-img2.jpg') no-repeat center center;
    height: 300px;
    width: 33%;
    float: left;
}

#right-picture-about {
    background: url('../images/online-yoga-img3.jpg') no-repeat center center;
    height: 300px;
    width: 33%;
    float: right;
}

/* Newsletter */

#newsletter {
    height: 150px;
    width: 100%;
    background-color: #3a3a3a;
    clear: both;
    position: relative;
    top: 50px;

}

.newsletter-form {
    top:5%;
    left: 25%;
    width: 50%;
    position: absolute;
}

.newsletter-form > h2 {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    font-weight: 300;
    margin-bottom: 20px;
   
}

.text-input {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: large;
    width: 45%;
    border-radius: 2px;
    padding: 10px 20px;
}

.join-button {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: large;
    width: 45%;
    border: none;
    outline: none;
    background: transparent;
    background-color: black;
    padding: 10px 20px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
   
.join-button:hover {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: large;
    width:45%;
    border: none;
    outline: none;
    background: transparent;
    background-color: #112a45;
    padding: 10px 20px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
    position: relative;
    top: 40px
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Video section */

#video-outer {
    clear: both;
}

#video-outer h2 {
    font-size: 200%;
    font-weight: 300;
}

/* Sign Up section */

.form-section {
    clear: left;
    background: url("../images/online-yoga-img4.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.signup-text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.signup-text-input:hover {
  border-color: #f16c6b;
}

.signup-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#f16c6b;
    color: #fafafa;
    display: block;
    
}

.sign-button:hover {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#fafafa;
    color: #f16c6b;
    display: block;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#video-outer  {
    text-align: center;
}

#video-outer > iframe {
    width: 560px;
    height: 315px;
}

/* Rsponsive settings */

@media screen and (max-width: 1000px) {
   
    #left-about {
        float: unset;
        height: 170px;
        width: 100%;
        margin: 0 auto;
    }

    #center-about {
        float: unset;
        height: 150px;
        width: 100%;
        margin: 10px auto;
    }

    #right-about {
        float:  unset;
        height: 150px;
        width: 100%;
        margin: 0 auto;
    }

    #left-about-heading {
        width: 100%;
        float: left;
        line-height: 20px;
        clear: both;
        font-family: 'Roboto', sans-serif;
        font-size: 180%;
        font-weight: 300;
        text-transform: uppercase; 
        text-align: left;
        letter-spacing: 1px;
        color: #3a3a3a;
        margin: 20px 0 30px 0;
    } 

    #right-about-heading {
        width: 100%;
        float: right;
        line-height: 20px;
        clear: both;
        font-family: 'Roboto', sans-serif;
        font-size: 180%;
        font-weight: 300;
        text-transform: uppercase; 
        text-align: left;
        letter-spacing: 1px;
        color: #3a3a3a;
        margin: 20px 0 30px 0;
    }

    #center-about-heading {
        width: 100%;
        float: left;
        line-height: 20px;
        clear: both;
        font-family: 'Roboto', sans-serif;
        font-size: 180%;
        font-weight: 300;
        text-transform: uppercase; 
        text-align: left;
        letter-spacing: 1px;
        color: #3a3a3a;
        margin: 20px 0 30px 0;
    }

    #left-picture-about {
        background: unset;
        height: 0px;
    }

    #center-picture-about {
        background: unset;
        height: 0px;
    }

    #right-picture-about {
        background: unset;
        height: 0px;
    }

    #about-school p {
        margin: 30px 30px 5px;
        font-family: Lato;
        font-style: italic;
        text-align: justify;
    }

    #about-school h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 300%;
        font-weight: 400;
        text-transform: uppercase; 
        text-align: center;
        letter-spacing: 1px;
        color: #3a3a3a;
        margin-bottom: 40px;
    }

    .newsletter-form {
        top: 5%;
        left: 5%;
        width: 90%;
        position: absolute;
    }

    .newsletter-form > h2 {
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 150%;
        font-weight: 300;
        margin-bottom: 10px;    
    }
}

@media screen and (max-width: 670px) {
   
    h1 {
        letter-spacing: 2px;
    }

    #menu {
       float: left;
       margin-left: 10%;
    
    }

    #menu li {
        margin-right: 15px;
    }
}

@media screen and (max-width: 600px) {

    #hero-image {
        height: 350px;
    }

    #cover-text h2 {
        font-size: 180%;
        font-weight: 500;
    }
    
    #cover-text h4 {
        font-size: 100%;
        font-weight: 500;   
    }

    #about-school h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 200%;
        font-weight: 400;
        text-transform: uppercase; 
        text-align: center;
        letter-spacing: 1px;
        color: #3a3a3a;
        margin-bottom: 40px;
    }
    
    #left-about {
        float: unset;
        height: 190px;
        width: 100%;
        margin: 20px auto;
    }

    #center-about {
        float: unset;
        height: 170px;
        width: 100%;
        margin: 10px auto;
    }

    #right-about {
        float:  unset;
        height: 170px;
        width: 100%;
        margin: 20px auto;
    }

    #left-about-heading {
        width: 100%;
        float: left;
        line-height: 10px;
        clear: both;
        font-family: 'Roboto', sans-serif;
        font-size: 160%;
        font-weight: 300;
        text-transform: uppercase; 
        text-align: left;
        letter-spacing: 1px;
        color: #3a3a3a;
        margin: 20px 0 30px 0;
    } 

    #right-about-heading {
        width: 100%;
        float: right;
        line-height: 10px;
        clear: both;
        font-family: 'Roboto', sans-serif;
        font-size: 160%;
        font-weight: 300;
        text-transform: uppercase; 
        text-align: left;
        letter-spacing: 1px;
        color: #3a3a3a;
        margin: 20px 0 30px 0;
    }
        
    #center-about-heading {
        width: 100%;
        float: left;
        line-height: 10px;
        clear: both;
        font-family: 'Roboto', sans-serif;
        font-size: 160%;
        font-weight: 300;
        text-transform: uppercase; 
        text-align: left;
        letter-spacing: 1px;
        color: #3a3a3a;
        margin: 20px 0 30px 0;
    }

    #video-outer > iframe {
        width: 300px;
        height: 150px;        
    }

    .text-input {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: medium;
        width: 40%;
        border-radius: 2px;
        padding: 10px 20px;
    }
        
    .join-button {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: medium;
        width: 40%;
        border: none;
        outline: none;
        background: transparent;
        background-color: black;
        padding: 10px 20px;
        color: white;
        border-radius: 2px;
        cursor: pointer;
    }
}

@media screen and (max-width: 400px) {

    #menu {
        float: left;
        margin-left: 5%;     
     }

    #hero-image {
        height: 300px;
    }

    #cover-text h2 {
        font-size: 150%;
        font-weight: 500;
    }
    
    #cover-text h4 {
        font-size: 60%;
        font-weight: 500;
    }

    #about-school h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 180%;
        font-weight: 400;
        text-transform: uppercase; 
        text-align: center;
        letter-spacing: 1px;
        color: #3a3a3a;
        /* margin-left: 0; */
        margin-bottom: 40px;
    }

    #left-about {
        float: unset;
        height: 230px;
        width: 100%;
        margin: 20px auto;
    }

    #center-about {
        float: unset;
        height: 190px;
        width: 100%;
        margin: 10px auto;
    }

    #right-about {
        float:  unset;
        height: 190px;
        width: 100%;
        margin: 20px auto;
    }

    #left-about-heading {
        width: 100%;
        float: left;
        line-height: 10px;
        clear: both;
        font-family: 'Roboto', sans-serif;
        font-size: 160%;
        font-weight: 300;
        text-transform: uppercase; 
        text-align: left;
        letter-spacing: 1px;
        color: #3a3a3a;
        margin: 20px 0 30px 0;
    } 

    #right-about-heading {
        width: 100%;
        float: right;
        line-height: 10px;
        clear: both;
        font-family: 'Roboto', sans-serif;
        font-size: 160%;
        font-weight: 300;
        text-transform: uppercase; 
        text-align: left;
        letter-spacing: 1px;
        color: #3a3a3a;
        margin: 20px 0 30px 0;
    }
        
    #center-about-heading {
        width: 100%;
        float: left;
        line-height: 10px;
        clear: both;
        font-family: 'Roboto', sans-serif;
        font-size: 160%;
        font-weight: 300;
        text-transform: uppercase; 
        text-align: left;
        letter-spacing: 1px;
        color: #3a3a3a;
        margin: 20px 0 30px 0;
    }

    #video-outer > iframe {
        width: 300px;
        height: 150px;        
    }
}